/* HTML-tags */
body {
  overflow-x: hidden;
  overflow-y:scroll;
  }
  html {
    font-size: 1rem;
  }
/* Classes */

.mainContainer {
    min-height: 450px !important;
    max-width: 100%;
  }

.jumbotron {
  margin-bottom: 0px !important;
  padding-top: 150px;
  background-color: #3b8480;
  color: white;
  }

.contText {
  padding-top: 160px;
  margin-bottom: -16px;
  }

.navbar {
  background-color: #3b8480;
  color: #f9f9f9;
  }

.mainColYlw {
  color: white !important;
  }

.mainColYlw:hover {
  color: black !important;
  }

.loginDdMenu{
  background-color: #3b8480 !important;
  width: 50%;
  padding-left: 1px;
  padding-right: 1px;
  }

.btnHover:hover {
  background-color: #9fa3a3 !important;
  }

.inpLogin {
  display: block;
  width: 100%;
  }

.portoPersBox{
  min-height: 400px;
  border-style: double;
  background-color: #efefef;
}
.personPhoto{
  max-height: 150px;
  min-height: 125px;
  max-width: 100px;
  min-width: 90px;
  border-style: double;
}
.projectSlide {
  min-height: 300px;
  max-height: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.noPadd {
  padding-left: 0;
  padding-right: 0;
}
.projectConts{
  margin-top: 17px;
  min-height: 250px;
  border-style: double;
  background-color: #efefef;

}
.pfolioName {
  padding-left: 10px;
  padding-top: 10px;
}
.pfolioPic {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.projectPic{
  width: 100%;
  height: 100%;
  min-height: 250px;
  object-fit: fill;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.carousel-indicators li {
    width: 15px;
    height: 8px;
    background-color: gray;
}
.carousel-indicators .active {
    width: 15px;
    height: 8px;
    background-color: black;
}
/* ID's */
#btnLogOut {
  margin-top: 1px;
  margin-bottom: -7px;
  }

#btnAddUser {
  margin-top: 1px;
  }

#textFont {
  font-style: oblique;
  }

#contBox1, #contBox3, #aboutCont1, #portoCont1, #projectCont1 {
  background-color: #f9f9f9;
  }

#contBox2, #contBox4 {
  background-color: #efefef;
  }

#btnLogIn {
  margin-bottom: -6px;
  }

#inpUser, #btnSettings {
  margin-top: -6px;
  }
#btnLeftCaro{
  margin-top: 140px;
  font-size: 80px;
  color: #000000;
}
#btnRightCaro{
  margin-top: 140px;
  font-size: 80px;
  color: #000000;
}
#indexProjTextbox {
  padding-top: 80px !important;
}
#portoConts{
  margin-top: 17px;
}
#indicProSlideBar {
  padding-bottom: 15px;
}
