
#navBarLogo {
  max-width: 85px;
  max-height: 85px;
}
#navBarLogo{
  width: 50%;
}
#textFont {
  font-style: oblique;
}
.container-fluid {
  min-height: 450px !important;
}
.jumbotron {
  margin-bottom: 0px !important;
}
.contText {
  padding-top: 170px;
}
